.home {
background-image: url("/src/assets/4.webp");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh; /* allow the content to expand as needed */
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
padding: 15px;
background-attachment: fixed;
}
.description > button{
    background-color: goldenrod;
    border: none;
}